# Descriptivbe Stats

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
income_df = pd.read_csv(r"/Users/munna/VScode/NareshIT/Stats/Inc_Exp_Data.csv")
income_df

,Mthly_HH_Income,Mthly_HH_Expense,No_of_Fly_Members,Emi_or_Rent_Amt,Annual_HH_Income,Highest_Qualified_Member,No_of_Earning_Members
0,5000,8000,3,2000,64200,Under-Graduate,1
1,6000,7000,2,3000,79920,Illiterate,1
2,10000,4500,2,0,112800,Under-Graduate,1
3,10000,2000,1,0,97200,Illiterate,1
4,12500,12000,2,3000,147000,Graduate,1
5,14000,8000,2,0,196560,Graduate,1
6,15000,16000,3,35000,167400,Post-Graduate,1
7,18000,20000,5,8000,216000,Graduate,1
8,19000,9000,2,0,218880,Under-Graduate,1
9,20000,9000,4,0,220800,Under-Graduate,2
10,20000,18000,4,8000,278400,Under-Graduate,2
11,22000,25000,6,12000,279840,Illiterate,1
12,23400,5000,3,0,292032,Illiterate,1
13,24000,10500,6,0,316800,Graduate,2
14,24000,10000,4,0,244800,Graduate,2
15,25000,12300,3,0,246000,Graduate,1
16,25000,20000,3,3500,261000,Graduate,1
17,25000,10000,6,0,258000,Under-Graduate,3
18,29000,6600,2,2000,348000,Graduate,1
19,30000,13000,4,0,385200,Graduate,1
20,30500,25000,5,5000,351360,Under-Graduate,1
21,32000,15000,4,0,445440,Professional,1
22,34000,19000,6,0,330480,Professional,1
23,34000,25000,3,4000,469200,Professional,1
24,35000,12000,3,0,466200,Graduate,1
25,35000,25000,4,0,449400,Professional,2
26,39000,8000,4,0,556920,Under-Graduate,1
27,40000,10000,4,0,412800,Under-Graduate,1
28,42000,15000,4,0,488880,Graduate,1
29,43000,12000,4,0,619200,Graduate,1
30,45000,25000,6,0,523800,Graduate,3
31,45000,40000,6,3500,507600,Professional,2
32,45000,10000,2,1000,437400,Post-Graduate,1
33,45000,22000,4,2500,610200,Post-Graduate,1
34,46000,25000,5,3500,596160,Graduate,1
35,47000,15000,7,0,456840,Professional,4
36,50000,20000,4,0,570000,Professional,1
37,50500,20000,3,0,581760,Professional,2
38,55000,45000,6,12000,600600,Graduate,2
39,60000,10000,3,0,590400,Post-Graduate,1
40,60000,50000,6,10000,590400,Graduate,1
41,65000,20000,4,5000,647400,Illiterate,2
42,70000,9000,2,0,756000,Graduate,1
43,80000,20000,4,0,1075200,Graduate,1
44,85000,25000,5,0,1142400,Under-Graduate,2
45,90000,48000,7,0,885600,Post-Graduate,3
46,98000,25000,5,0,1152480,Professional,2
47,100000,30000,6,0,1404000,Graduate,3
48,100000,50000,4,20000,1032000,Professional,2
49,100000,40000,6,10000,1320000,Post-Graduate,1

In [3]:
income_df.shape

(50, 7)

In [4]:
income_df.columns

Index(['Mthly_HH_Income', 'Mthly_HH_Expense', 'No_of_Fly_Members',
       'Emi_or_Rent_Amt', 'Annual_HH_Income', 'Highest_Qualified_Member',
       'No_of_Earning_Members'],
      dtype='object')

In [5]:
len(income_df.columns)

7

In [6]:
income_df.describe() # Descrptive Stats ANalysis

,Mthly_HH_Income,Mthly_HH_Expense,No_of_Fly_Members,Emi_or_Rent_Amt,Annual_HH_Income,No_of_Earning_Members
count,50.000000,50.000000,50.000000,50.000000,5.000000e+01,50.000000
mean,41558.000000,18818.000000,4.060000,3060.000000,4.900190e+05,1.460000
std,26097.908979,12090.216824,1.517382,6241.434948,3.201358e+05,0.734291
min,5000.000000,2000.000000,1.000000,0.000000,6.420000e+04,1.000000
25%,23550.000000,10000.000000,3.000000,0.000000,2.587500e+05,1.000000
50%,35000.000000,15500.000000,4.000000,0.000000,4.474200e+05,1.000000
75%,50375.000000,25000.000000,5.000000,3500.000000,5.947200e+05,2.000000
max,100000.000000,50000.000000,7.000000,35000.000000,1.404000e+06,4.000000

In [7]:
income_df.describe().T # Transpose will covert the columns names to Rows

,count,mean,std,min,25%,50%,75%,max
Mthly_HH_Income,50.0,41558.00,26097.908979,5000.0,23550.0,35000.0,50375.0,100000.0
Mthly_HH_Expense,50.0,18818.00,12090.216824,2000.0,10000.0,15500.0,25000.0,50000.0
No_of_Fly_Members,50.0,4.06,1.517382,1.0,3.0,4.0,5.0,7.0
Emi_or_Rent_Amt,50.0,3060.00,6241.434948,0.0,0.0,0.0,3500.0,35000.0
Annual_HH_Income,50.0,490019.04,320135.792123,64200.0,258750.0,447420.0,594720.0,1404000.0
No_of_Earning_Members,50.0,1.46,0.734291,1.0,1.0,1.0,2.0,4.0

In [8]:
income_df.isna()

,Mthly_HH_Income,Mthly_HH_Expense,No_of_Fly_Members,Emi_or_Rent_Amt,Annual_HH_Income,Highest_Qualified_Member,No_of_Earning_Members
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False
30,False,False,False,False,False,False,False
31,False,False,False,False,False,False,False
32,False,False,False,False,False,False,False
33,False,False,False,False,False,False,False
34,False,False,False,False,False,False,False
35,False,False,False,False,False,False,False
36,False,False,False,False,False,False,False
37,False,False,False,False,False,False,False
38,False,False,False,False,False,False,False
39,False,False,False,False,False,False,False
40,False,False,False,False,False,False,False
41,False,False,False,False,False,False,False
42,False,False,False,False,False,False,False
43,False,False,False,False,False,False,False
44,False,False,False,False,False,False,False
45,False,False,False,False,False,False,False
46,False,False,False,False,False,False,False
47,False,False,False,False,False,False,False
48,False,False,False,False,False,False,False
49,False,False,False,False,False,False,False

In [9]:
income_df.isna().any()

Mthly_HH_Income             False
Mthly_HH_Expense            False
No_of_Fly_Members           False
Emi_or_Rent_Amt             False
Annual_HH_Income            False
Highest_Qualified_Member    False
No_of_Earning_Members       False
dtype: bool

In [11]:
income_df['Mthly_HH_Expense'].mean()

np.float64(18818.0)

In [12]:
income_df['Mthly_HH_Expense'].median()

15500.0

In [13]:
income_df['Mthly_HH_Expense'].mode()

0    25000
Name: Mthly_HH_Expense, dtype: int64

In [22]:
mth_exp_tmp = pd.crosstab(index=income_df['Mthly_HH_Expense'], columns="count")

mth_exp_tmp.reset_index(inplace=True)

result = mth_exp_tmp[mth_exp_tmp['count'] == mth_exp_tmp['count'].max()]

In [23]:
income_df

,Mthly_HH_Income,Mthly_HH_Expense,No_of_Fly_Members,Emi_or_Rent_Amt,Annual_HH_Income,Highest_Qualified_Member,No_of_Earning_Members
0,5000,8000,3,2000,64200,Under-Graduate,1
1,6000,7000,2,3000,79920,Illiterate,1
2,10000,4500,2,0,112800,Under-Graduate,1
3,10000,2000,1,0,97200,Illiterate,1
4,12500,12000,2,3000,147000,Graduate,1
5,14000,8000,2,0,196560,Graduate,1
6,15000,16000,3,35000,167400,Post-Graduate,1
7,18000,20000,5,8000,216000,Graduate,1
8,19000,9000,2,0,218880,Under-Graduate,1
9,20000,9000,4,0,220800,Under-Graduate,2
10,20000,18000,4,8000,278400,Under-Graduate,2
11,22000,25000,6,12000,279840,Illiterate,1
12,23400,5000,3,0,292032,Illiterate,1
13,24000,10500,6,0,316800,Graduate,2
14,24000,10000,4,0,244800,Graduate,2
15,25000,12300,3,0,246000,Graduate,1
16,25000,20000,3,3500,261000,Graduate,1
17,25000,10000,6,0,258000,Under-Graduate,3
18,29000,6600,2,2000,348000,Graduate,1
19,30000,13000,4,0,385200,Graduate,1
20,30500,25000,5,5000,351360,Under-Graduate,1
21,32000,15000,4,0,445440,Professional,1
22,34000,19000,6,0,330480,Professional,1
23,34000,25000,3,4000,469200,Professional,1
24,35000,12000,3,0,466200,Graduate,1
25,35000,25000,4,0,449400,Professional,2
26,39000,8000,4,0,556920,Under-Graduate,1
27,40000,10000,4,0,412800,Under-Graduate,1
28,42000,15000,4,0,488880,Graduate,1
29,43000,12000,4,0,619200,Graduate,1
30,45000,25000,6,0,523800,Graduate,3
31,45000,40000,6,3500,507600,Professional,2
32,45000,10000,2,1000,437400,Post-Graduate,1
33,45000,22000,4,2500,610200,Post-Graduate,1
34,46000,25000,5,3500,596160,Graduate,1
35,47000,15000,7,0,456840,Professional,4
36,50000,20000,4,0,570000,Professional,1
37,50500,20000,3,0,581760,Professional,2
38,55000,45000,6,12000,600600,Graduate,2
39,60000,10000,3,0,590400,Post-Graduate,1
40,60000,50000,6,10000,590400,Graduate,1
41,65000,20000,4,5000,647400,Illiterate,2
42,70000,9000,2,0,756000,Graduate,1
43,80000,20000,4,0,1075200,Graduate,1
44,85000,25000,5,0,1142400,Under-Graduate,2
45,90000,48000,7,0,885600,Post-Graduate,3
46,98000,25000,5,0,1152480,Professional,2
47,100000,30000,6,0,1404000,Graduate,3
48,100000,50000,4,20000,1032000,Professional,2
49,100000,40000,6,10000,1320000,Post-Graduate,1

In [25]:
income_df.columns

Index(['Mthly_HH_Income', 'Mthly_HH_Expense', 'No_of_Fly_Members',
       'Emi_or_Rent_Amt', 'Annual_HH_Income', 'Highest_Qualified_Member',
       'No_of_Earning_Members'],
      dtype='object')

In [26]:
IQR = income_df["Mthly_HH_Expense"].quantile(0.75)-income_df["Mthly_HH_Expense"].quantile(0.25)

In [27]:
IQR

np.float64(15000.0)

In [28]:
IQR = income_df["Mthly_HH_Expense"].quantile(0.50)-income_df["Mthly_HH_Expense"].quantile(0.25)

In [29]:
IQR

np.float64(5500.0)

In [30]:
len(income_df)

50

In [31]:
income_df["Mthly_HH_Expense"].var()

146173342.85714287

In [32]:
income_df["Mthly_HH_Expense"].std()

12090.216824240286

In [33]:
coef = income_df["Mthly_HH_Expense"].std() / income_df["Mthly_HH_Expense"].mean()

In [34]:
coef

np.float64(0.6424814977277227)