In [1]:
tup1 = ()

In [2]:
tup1

()

In [3]:
tup2 = (10,30,60)
tup3 = (10,77,30.66,60.89)

In [4]:
tup7 = ('Asif', 25 ,[50, 100],[150, 90] , {'John' , 'David'} , (99,22,33))

In [5]:
len(tup7)

6

## Tuple Indexing

In [9]:
tup2[0]

10

In [10]:
tup7[-1]

(99, 22, 33)

### Tuple Slicing

In [11]:
mytuple = ('one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight')

In [12]:
mytuple[0:3]

('one', 'two', 'three')

In [13]:
mytuple[3:5]

('four', 'five')

In [14]:
mytuple[:3]

('one', 'two', 'three')

In [18]:
mytuple[1:5:-3]

()

In [16]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

# Remove and Chnage Items

In [19]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [20]:
del mytuple[0]

TypeError: 'tuple' object doesn't support item deletion

In [22]:
mytuple[0] = 1

TypeError: 'tuple' object does not support item assignment

In [23]:
del mytuple

### Loop Through A Tuple

In [24]:
mytuple = ('one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight')

In [25]:
for i in mytuple:
    print(i)

one
two
three
four
five
six
seven
eight

In [26]:
for i in enumerate(mytuple):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

## Count

In [27]:
mytuple1 =('one', 'two', 'three', 'four', 'one', 'one', 'two', 'three')
mytuple1

('one', 'two', 'three', 'four', 'one', 'one', 'two', 'three')

In [29]:
mytuple1.count('two')

2

In [30]:
mytuple1.count('one')

3

## Tuple Memebership

In [31]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [32]:
'one' in mytuple

True

In [33]:
'ten' in mytuple

False

In [34]:
if 'three' in mytuple:
    print("Three is present in the tuple")
else: 
    print('Three is not present in the tuple')

Three is present in the tuple

### Index Position

In [35]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [36]:
mytuple.index('one')

0

In [37]:
mytuple.index('eleven')

ValueError: tuple.index(x): x not in tuple

In [38]:
mytuple.index('two')

1

### Sorting

In [39]:
mytuple2 = (43,67,99,12,6,90,67)

In [40]:
sorted(mytuple2)

[6, 12, 43, 67, 67, 90, 99]

In [41]:
sorted(mytuple2,reverse=True)

[99, 90, 67, 67, 43, 12, 6]

### Sets

## Set Creation

In [43]:
myset = {1,2,3,4,5}
myset

{1, 2, 3, 4, 5}

In [44]:
len(myset)

5

In [45]:
type(myset)

set

In [46]:
my_set = {1,1,2,2,3,4,5,5} # Duplicate elements are not allowed
my_set

{1, 2, 3, 4, 5}

In [47]:
myset2 = {'Asif' , 'John' , 'Tyrion'}
myset2

{'Asif', 'John', 'Tyrion'}

In [48]:
my_set1 = set(('one' , 'two' , 'three' , 'four'))

In [49]:
my_set1

{'four', 'one', 'three', 'two'}

### Loop Through Set

In [51]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}

In [52]:
for s in myset:
    print(s)

four
six
eight
five
two
seven
three
one

In [54]:
for i in enumerate(myset):
    print(i)

(0, 'four')
(1, 'six')
(2, 'eight')
(3, 'five')
(4, 'two')
(5, 'seven')
(6, 'three')
(7, 'one')

## Set Membership

In [55]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [56]:
'one' in myset

True

In [58]:
if 'three' in myset: # Check if 'three' exist in the set
   print('Three is present in the set')
else:
   print('Three is not present in the set')

Three is present in the set

### Add & Remove Items

In [59]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [60]:
myset.add('Nine')

In [61]:
myset

{'Nine', 'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [62]:
myset.update(['TEN','ELEVE' , 'TWELVE'])

In [63]:
myset

{'ELEVE',
 'Nine',
 'TEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [64]:
myset.remove('ELEVE')

In [65]:
myset

{'Nine',
 'TEN',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [66]:
myset.discard('TEN')

In [67]:
myset

{'Nine',
 'TWELVE',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [68]:
myset.clear()

In [69]:
myset

set()

In [73]:
del myset

NameError: name 'myset' is not defined

## Copy SET

In [74]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}

In [75]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [76]:
del my_set

In [77]:
del my_set1

In [78]:
del myset2

In [79]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [2]:
myset1 = { 'six','four' , 'twenty'}

In [86]:
id(myset) , id(myset1)

(4450869632, 4450869632)

In [88]:
my_set

{'four', 'six', 'twenty'}

In [1]:
my_set = myset.copy()

NameError: name 'myset' is not defined

In [5]:
myset = myset1
myset

{'four', 'six', 'twenty'}

In [6]:
myset

{'four', 'six', 'twenty'}

In [7]:
myset.add('nine')

In [8]:
myset

{'four', 'nine', 'six', 'twenty'}

In [9]:
## Set Operation Union

In [10]:
A = {1,2,3,4,5}
b = {4,5,6,7,8}
c = {8,9,10}

In [12]:
A | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [13]:
A.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [15]:
A.union(b,c)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [16]:
A.update(b,c)

In [17]:
A

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [18]:
# Intersection

A & b

{4, 5, 6, 7, 8}

In [19]:
A.intersection(b)

{4, 5, 6, 7, 8}

In [20]:
# Differnce

A - b

{1, 2, 3, 9, 10}

In [21]:
A.difference(b)

{1, 2, 3, 9, 10}

In [23]:
b- A

set()

In [24]:
b- A

set()

In [26]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
B-A

{6, 7, 8}

In [27]:
B.difference(A)

{6, 7, 8}

In [28]:
# Symmetric difference
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [30]:
A.symmetric_difference_update(B)
A

{1, 2, 3, 4, 5}

In [31]:
# Subset , Superset , Disjoint
A = {1,2,3,4,5,6,7,8,9}
B = {3,4,5,6,7,8}
C = {10,20,30,40}

In [32]:
B.issubset(A)

True

In [33]:
A.issuperset(B)

True

In [35]:
C.isdisjoint(A)

True

In [37]:
B.isdisjoint(A)

False

In [38]:
A

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [39]:
sum(A)

45

In [40]:
max(A)

9

In [41]:
len(A)

9

In [42]:
min(A)

1

In [43]:
list(enumerate(A))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [45]:
D = sorted(A,reverse=True)
D

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [46]:
sorted(D)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [47]:
### Dictionary

In [49]:
mydict = dict()
mydict

{}

In [50]:
mydict = {1:'one' , 2:'two' , 3:'three'}
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [51]:
mydict = dict({1:'one' , 2:'two' , 3:'three'})

In [52]:
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [53]:
mydict.keys()

dict_keys([1, 2, 3])

In [54]:
mydict.values()

dict_values(['one', 'two', 'three'])

In [55]:
mydict.items()

dict_items([(1, 'one'), (2, 'two'), (3, 'three')])

In [56]:
mydict = {1:'one' , 2:'two' , 'A':['asif' , 'john' , 'Maria']}
mydict

{1: 'one', 2: 'two', 'A': ['asif', 'john', 'Maria']}

In [57]:
mydict = {1:'one' , 2:'two' , 'A':{'Name':'asif' , 'Age' :20}, 'B':('Bat' , 'cat')}
mydict

{1: 'one', 2: 'two', 'A': {'Name': 'asif', 'Age': 20}, 'B': ('Bat', 'cat')}

In [59]:
keys = {'a' , 'b' , 'c' , 'd'}
mydict3 = dict.fromkeys(keys)
mydict3

{'d': None, 'c': None, 'a': None, 'b': None}

In [61]:
keys = {'a' , 'b' , 'c' , 'd'}
value = [10,20,30]
mydict3 = dict.fromkeys(keys,value)
mydict3

{'d': [10, 20, 30], 'c': [10, 20, 30], 'a': [10, 20, 30], 'b': [10, 20, 30]}

In [62]:
value.append(40)

In [63]:
mydict3

{'d': [10, 20, 30, 40],
 'c': [10, 20, 30, 40],
 'a': [10, 20, 30, 40],
 'b': [10, 20, 30, 40]}

In [64]:
## Accessing Items

In [65]:
mydict = {1:'one' , 2:'two' , 3:'three' , 4:'four'}
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [66]:
mydict[1]

'one'

In [68]:
mydict.get(1)

'one'

In [69]:
#3 Add, Remove & Change Items

In [70]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'}
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [71]:
mydict1['DOB'] =1992
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1992, 'Address': 'Hilsinki'}

In [73]:
dict1 = {'DOB' : 1995}
mydict1.update(dict1)
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1995, 'Address': 'Hilsinki'}

In [74]:
mydict1['Job'] = 'Analyst'
mydict1

{'Name': 'Asif',
 'ID': 12345,
 'DOB': 1995,
 'Address': 'Hilsinki',
 'Job': 'Analyst'}

In [76]:
mydict1.pop('Job')
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1995, 'Address': 'Hilsinki'}

In [77]:
mydict1.popitem()

('Address', 'Hilsinki')

In [79]:
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1995}

In [80]:
del[mydict1['ID']]

In [81]:
mydict1

{'Name': 'Asif', 'DOB': 1995}

In [83]:
mydict1.clear()

In [84]:
mydict1

{}

In [85]:
del mydict1

In [86]:
mydict = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'}
mydict

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [87]:
mydict1 = mydict

In [88]:
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [89]:
id(mydict) , id(mydict1)

(4603032896, 4603032896)

In [90]:
mydict2 = mydict.copy()

In [91]:
mydict2

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [94]:

# Loop Through a Dictionary

mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki' }
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [97]:
for i in mydict1:
    print(i , ':' , mydict1[i])

Name : Asif
ID : 12345
DOB : 1991
Address : Hilsinki

In [98]:
# Dictionary Membership
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Job': 'Analyst'}
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1991, 'Job': 'Analyst'}

In [99]:
'Name' in mydict1

True

In [100]:
all(mydict1)

True